*{
box-sizing: border-box;


}
body{
    overflow: scroll;


}

.headertext{
    color: yellow;
    font-size: 30px;
    text-align:left;
    margin: 15px;
    font-family: Merriweather;
    overflow-wrap: normal;


}
.header a{
    /* display:flex; */
    margin: 5px;
    color:white;
    font-size: 20px;
    text-decoration:none; 
    display:inline;   
    text-align:left;

}
.listlinks a:hover{
    color:yellow;
}

.listlinks li{
    /* margin-right: 50px; */
    display: inline;
    color:white;
}
.bold{
    font-weight: bolder;
}
.roundedbox{
    border-radius: 5px;
    background-color: #C6C6C6;
    box-shadow: 1px 2px grey;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    /* margin-top:55px; */
    /* justify-content: baseline; */
    /* margin-left: 5px; */
    width: 80%;
    margin-top:20px;
    
}
.roundedbox.profile{
    background-color: yellow;
    opacity: 1;
    display: flex;
    justify-content: center;
    margin-top:60px;
    margin-left:40px;
    /* flex-wrap: wrap; */
}
.roundbox-profile-txt{
    text-align: right;
}
.row{
    display: flex;
    width: 100%;
    background-color: #C9C5C6;
    text-align: center;
    min-height: 70px;
    /* font-size: 30px; */
    
    /* flex-wrap: wrap; */

}
.nav{
    margin-top: 10px;
    font-size: 25px;
}
.row.header{
    min-height: 70px;
    background-color: black;
    border-bottom: solid yellow 3px;
    /* flex-wrap: wrap; */
}

.row.section{
    min-height: 400px;
    background: url(../images/coworking.jpg) no-repeat center center fixed ;
    width: 100%;
    background-size: cover;
    background-attachment: scroll;

}
.sections{
    min-height: 500px;
    background-image: url('images/coworking.jpg');
    width: 100%;
    height: auto;
    max-width: 1920px; 

}
.section-box{
   box-shadow: 1px 1px 1px 1px black;
   float:right;
   background-color: white;
   opacity:.8 ;
   height:330px;
   width:400px;
   /* border:solid black 1px; */
   display: flex;
   margin-top:30px;
   margin-right:30px;
   justify-content: space-around;   /* border-block-end-style: solid; */
   /* border-block-end: 100px; */
   /* flex-wrap: wrap; */

}
.section-box-txt{
    opacity: 1;
    font-size: 22px;
    text-align: left;
    margin: 20px;

}
.row.footer{
    height: 270px;
    background-color: white;
    text-align:left;


}
.row.copyright{
    background-color: black;
    color: white;
    text-align: left;
    margin-top:15px;

}
.footertxt{
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    line-height: 30px;
    /* margin-top:45px;
    margin-bottom: 70px; */
    padding: 15px
    /* border-left: solid 1px  black; */

}
.footertxt.thing{
    margin-top: 10px;
    margin-bottom: 10px; 
}


.footerheader{
font-weight: bolder;
}
s{
    color: rgb(161, 159, 159);
}
.underline{
    text-decoration: underline;
    text-decoration-color: yellow;
}

.borderLeft{
    border-left: solid grey  1px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left:20px;

}
.col-12.nav{
    font-style: italic;
}
.col{
    width: calc(8.333%);
    height: 100%;
}
.col-2{
    width:calc(6*8.333%);
    height:100%;
}
.col-3{
    width:calc(3*8.333%);
    height:100%;
}
.col-4{
    width:calc(4*8.333%)
}
.col-6{
    width:calc(6*8.333%);
    height:100%; 
}
.col-8{
    width:calc(8*8.333%);
    height:100%
}
.col-12{
    width:calc(12*8.333%);
    height: 100%;
}
